<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>EDIT</title>
        {% load static %}
        <link rel="stylesheet" type="text/css" href="{% static 'tasks/style.css' %}" />
    </head>
    <body>
        <a href="{% url 'tasks:index' %}">
            <input type="submit" value="🏠" class="button fixed_button">
        </a>

        <div class="inner_box">
            {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
            <form action="{% url 'tasks:apply_edit' task.id %}" method="post">
                {% csrf_token %}
                <label for="task_text">
                    TASK<br>
                    <input type="text" value="{{ task.task_text }}" class="margin_lr" style="width:240px;" name="task_text" />
                </label><br>

                <label for="deadline">
                    DEADLINE(if exists)
                    <input type="datetime-local" class="margin_lr" name="deadline" />
                </label><br>

                <div class="align_center wrapper"><input type="submit" value="Apply" class="button"></span>
            </form>
        </div>
    </body>
</html>
